<div class="container" style="margin-top: 10%;">

  <section class="section contact">

    <div class="row gy-4">
      <div class="col-xl-6">
        <div class="card pt-4 px-4">
          <p class="display-6">
            About Us
          </p>
          <p class="lead" style="font-size: 16px;line-height: 30px;">
            THE EGYPT­IAN CHI­NESE DRILLING COM­PANY is a promis­ing orga­ni­za­tion work­ing in the oil field as a
            drilling Contractor.
            <br>
            <br>
<!--
            ECDC is a free Zone Company
            <br> -->

            <span style="font-weight: bold !important;color: #012970;font-style: normal;">ECDC </span> is the first joint ven­ture between Egypt and China in oil indus­try estab­lished in 1998 under the
            res­o­lu­tion of invest­ment law in Egypt between a group of Egypt­ian Investors & (XIBU) is a com­pany
            spe­cial­ized in petro­leum engi­neer­ing and tech­ni­cal services directly under the man­age­ment OF China
            National Petro­leum Cor­po­ra­tion (CNPC) to embark on drilling and workover oil wells in Egypt.
            <!-- <br>

            ECDC is the biggest pri­vate drilling Con­trac­tor in Egypt run­ning 8 Land rigs till now; 4 drilling rigs
            and 4 workover rigs match­ing the inter­na­tional and the oil field stan­dards in Egypt & Overseas.
            <br>
            ECDC is fast grow­ing com­pany in the Egypt­ian mar­ket adding new rigs & using newest drilling technologies
            , ECDC decided to achieve conformance and compliance with the require­ments of inter­na­tional stan­dards;
            ISO 9001, ISO 14001 and OHSAS 18001 certification. -->
          </p>
        </div>

      </div>

      <div class="col-xl-6">

        <div class="row">
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>Block 19,20 Kattamia Road Ain El Sokhna Old Street </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>
                <a href="tel://0227579481">02-27579481</a>
                <br>
                <a href="tel://010222221289"> 010222221289 </a>
                <br>
                <a href="fax:0227579851">Fax: 02-27579851 </a>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>
                <a href="mailto:ecdc@ecdc.com.eg">ecdc@ecdc.com.eg</a>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box card">
              <span class="bi bi-globe"></span>
              <h3>Website</h3>
              <a href="https://www.ecdc.com.eg/">www.ecdc.com.eg</a>
            </div>
          </div>
        </div>

      </div>



    </div>

  </section>
  <!--   <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="wrapper">
        <div class="row no-gutters">
          <div class="col-md-12">
            <div class="contact-wrap w-100 p-md-5 p-4">
              <h3 class="mb-5 text-center">Contact Us</h3>
              <div class="row mb-5">
                <div class="col-md-3">
                  <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-map-marker"></span>
                    </div>
                    <div class="text">
                      <p><span>Address: </span> Block 19,20 Kattamia Road Ain El Sokhna Old Street </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-phone"></span>
                    </div>
                    <div class="text">
                      <p><span>Tel: </span> <a href="tel://1234567920">0227579481</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa-solid fa-mobile-screen-button"></span>
                    </div>
                    <div class="text">
                      <p><span>Mobile: </span> <a href="tel://1234567920"> 01022222128/9 </a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-paper-plane"></span>

                    </div>
                    <div class="text">
                      <p><span>Email: </span> <a href="ecdc@ecdc.com.eg ">ecdc@ecdc.com.eg </a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa fa-globe"></span>
                    </div>
                    <div class="text">
                      <p><span>Website : </span> <a href="#">www.ecdc.com.eg</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="dbox w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <span class="fa-solid fa-envelopes-bulk"></span>
                    </div>
                    <div class="text">
                      <p><span>Fax : </span> <a href="#"> 02 27579851 </a></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="form-message-warning" class="mb-4"></div>
                            <div id="form-message-success" class="mb-4">
                                Your message was sent, thank you!
                            </div> -->
  <!-- <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="name">Full Name</label>
                                            <input type="text" class="form-control" name="name" id="name"
                                                placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="email">Email Address</label>
                                            <input type="email" class="form-control" name="email" id="email"
                                                placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="subject">Subject</label>
                                            <input type="text" class="form-control" name="subject" id="subject"
                                                placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="#">Message</label>
                                            <textarea name="message" class="form-control" id="message" cols="30"
                                                rows="4" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="Send Message" class="btn btn-primary">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div> -->
</div>
