<div class="container mb-5" style="margin-top: 8%;">
  <div class="heading_container heading_center d-flex">
    <h2 class="mx-auto my-4">
      Add QHSE Name
    </h2>

  </div>

  <div class="row">
    <form [formGroup]="QHSEPositionNameForm" id="print-section" (ngSubmit)="submitData()"
      class="col-md-10 mx-auto d-flex flex-wrap">

      <table class="table">
        <tr>
          <td>
            <div class="form-group">
              <label class="form-label" for="name">QHSE Name : </label>
              <input type="text" name="name" formControlName="name" id="name" class="form-control"/>
              <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                <small class="text-danger" *ngIf="name?.errors?.['required']">
                  Name is required
                </small>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <label class="form-label" for="empCode">Code : </label>
              <input type="number" name="empCode" formControlName="empCode" id="empCode" class="form-control"/>
              <div *ngIf="empCode?.invalid && (empCode?.dirty || empCode?.touched)">
                <small class="text-danger" *ngIf="empCode?.errors?.['required']">
                  Code is required
                </small>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <label class="form-label" for="positionId">Position : </label>
              <select name="positionId" formControlName="positionId" id="positionId" class="form-select">
                <option value="" disabled selected>Choose Position</option>
                <option *ngFor="let item of positionList" value="{{item.id}}">{{item.name}}</option>
              </select>
            </div>
          </td>
        </tr>
      </table>

      <input type="submit" [disabled]="QHSEPositionNameForm.invalid" class="btn btn-success me-3" value="Submit" />
      <!-- <input type="submit" class="btn btn-primary me-3" value="Export Data" (click)="Download()" /> -->
      <input routerLink="/Dashboard/QHSEPositionName" type="submit" class="btn btn-primary" value="Show Data">

    </form>
  </div>
</div>
