<div class="container mb-5" style="margin-top: 8%;">
    <div class="heading_container heading_center d-flex">
      <h2 class="mx-auto my-4">
         Position
      </h2>
  
    </div>
    <a routerLink="/Dashboard/Position/Add" class="btn btn-primary">Add New Position</a>
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th *ngIf="IsAdmin">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let record of (PositionList | async)">
        <tr>
          <td>{{record.id}}</td>
          <td>{{record.name}}</td>
          <td *ngIf="IsAdmin">
            <a routerLink="/Dashboard/Position/Edit/{{record.id}}" class="m-2 h4" style="color: #434F78;"><i class="fa-solid fa-pen-to-square"></i></a>
            <a (click)="DeletePosition(record)" class="m-2 h4" style="color: #f3c93e;cursor: pointer !important;"><i class="fa-solid fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mx-auto mb-3 text-center d-flex align-items-center justify-content-center" *ngIf="countOfPage>1">
      <button class="btn  btn-outline-primary mx-3" (click)="getpages(1)">
        <i class="fa-solid fa-angles-left"></i>
      </button>
      <button class="btn  btn-outline-primary me-3" (click)="gotleft()">
        <i class="fa-solid fa-angle-left"></i>
      </button>
  
      <div class="me-3">{{indexofPages}} of {{countOfPage}}</div>
  
      <button class="btn  btn-outline-primary me-3" (click)="gotoright()">
        <i class="fa-solid fa-angle-right"></i>
      </button>
      <button class="btn  btn-outline-primary me-3" (click)="getpages(countOfPage)">
        <i class="fa-solid fa-angles-right"></i>
      </button>
    </div>
  </div>
  