

table, th, td {

  border: 1px solid black;

  border-collapse: collapse;
  text-align: center;

}

.print-section {
  width: 21cm;
  height: 27.8cm;
  // margin: 30mm 45mm 30mm 45mm;
  margin: auto;
  margin: 0 !important;
  padding-bottom: 0 !important;
}






