i{
  color: white;
}

#link{
  color: black;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
#link:hover{
  cursor: pointer;
  background-color: rgb(135, 195, 255);
  color: white;
}

.fa-bell:hover{
  cursor: pointer;
}


