<div class="container">
  <div class="row">
    <a class="btn btn-primary col-md-3 ms-5 mt-5" routerLink="/Products/Add">Add New Product</a>
    <table class="table border m-5">
      <thead>
        <tr>
          <th class="col-md-3">Name</th>
          <th>Price</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price}} LE</td>
          <td><img style="width: 120px;" src="http://localhost:5099/ProductIMG/{{product.imageName}}" alt=""> </td>
          <td>
            <a routerLink="/Products/Edit/{{product.id}}" class="m-3 h3" style="color: #434F78;"><i class="fa-solid fa-pen-to-square"></i></a>
            <!-- <a routerLink="/Products/Delete/{{product.id}}" class="m-3 h3" style="color: #f3c93e;"><i class="fa-solid fa-trash"></i></a> -->
            <a (click)="ConfirmDelete(product.id)" class="m-3 h3" style="color: #f3c93e;"><i class="fa-solid fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

