
<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


            <div class="card " style="margin-top: 60px;" >
              <div class="card-body">
                <div class="d-flex justify-content-center mt-5">
                    <img style="width: 150px;" src="../../assets/img/ECDC Logo Edit png.png" alt="">
                </div>

                <div class="pt-4 pb-2">

                  <h5 class="card-title text-center pb-0 fs-4">Change Your Password</h5>
                </div>

                <form class="row g-3 needs-validation" [formGroup]="ChangePasswordForm" (ngSubmit)="submitData()">

                    <div class="col-12">
                        <label for="currentPassword" class="form-label">your current Password</label>
                        <input formControlName="currentPassword" type="password" name="currentPassword" class="form-control" id="currentPassword" required>
                        <div *ngIf="currentPassword?.errors && currentPassword?.touched">
                          <small class="text-danger" *ngIf="currentPassword?.errors?.['required']">password is required</small>
                        </div>

                      </div>

                  <div class="col-12">
                    <label for="newPassword" class="form-label">your new Password</label>
                    <input formControlName="newPassword" type="password" name="newnewPassword" class="form-control" id="newPassword" required>
                    <div *ngIf="newPassword?.errors && newPassword?.touched">
                      <small class="text-danger" *ngIf="newPassword?.errors?.['required']">newPassword is required</small>
                    </div>

                  </div>



                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Save</button>
                  </div>

                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>

