<div class="container mb-5" style="margin-top: 8%;">
  <div class="heading_container heading_center d-flex">
    <h2 class="mx-auto my-4">
      Sub Dashboard
    </h2>

  </div>
  <div class="row">
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Incident Causes </h3>
          <h5> {{accidentCausescount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/AccidentCauses">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Classifications </h3>
          <h5> {{classificationcount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/Classification">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Classification of Incident </h3>
          <h5> {{classificationOfAccidentcount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/ClassificationOfAccident">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Comminucation Methods </h3>
          <h5> {{comminucationMethodcount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/ComminucationMethod">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Employee No </h3>
          <h5> {{EmpCodecount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/EmpCode">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Client </h3>
          <h5> {{ClientCount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/Client">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Leadership Visits </h3>
          <h5> {{LeadershipVisitCount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/LeadershipVisit">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading">Crew </h3>
          <h5> {{CrewCount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/Crew">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
   

    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Responsibility</h3>
          <h5> {{ResponsibilityCount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/Responsibility">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-6" *ngIf="IsRadio||IsAdmin||IsUser">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Drivers </h3>
          <h5> {{drivercount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/Driver">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Passengers </h3>
          <h5> {{passengercount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/Passenger">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Prevention Categories </h3>
          <h5> {{preventionCategorycount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/PreventionCategory">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading">Positions </h3>
          <h5> {{Positioncount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/Position">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <!-- <div>
          <h3 class="heading"> QHSE Names </h3>
          <h5> {{QHSEPositionNamecount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/QHSEPositionName">Show Data</a>
              </span>
            </div>
          </div>
        </div> -->
        <div>
          <h3 class="heading"> Subject List</h3>
          <h5> {{subjectListcount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/SubjectList">Show Data</a>
              </span>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    <!-- <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Reported By Names </h3>
          <h5> {{reportedByNamecount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/ReportedByName">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Drill Types</h3>
          <h5> {{drillTypecount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/DrillType">Show Data</a>
              </span>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    <!-- <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Reported By Positions </h3>
          <h5> {{reportedByPositioncount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/ReportedByPosition">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Rigs </h3>
          <h5> {{rigcount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/Rig">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsRadio||IsAdmin||IsUser">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Route Names </h3>
          <h5> {{routeNamecount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/RouteName">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Tool Pusher Positions </h3>
          <h5> {{toolPusherPositioncount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/ToolPusherPosition">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Tool Pusher Names </h3>
          <h5> {{toolPusherPositionNamecount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/ToolPusherPositionName">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Type of Injuries </h3>
          <h5> {{typeOfInjurycount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/TypeOfInjury">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Type of Observiation Categories</h3>
          <h5> {{typeOfObserviationcount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/TypeOfObserviationCategory">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsRadio||IsAdmin||IsUser">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Vehicles </h3>
          <h5> {{vehiclecount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/Vehicle">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> Violation Categories </h3>
          <h5> {{violationCategorycount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/ViolationCategory">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" *ngIf="IsUser||IsAdmin">
      <div class="card p-3 mb-2">
        <div>
          <h3 class="heading"> PPE </h3>
          <h5> {{PPECount}} Record </h5>
          <div class="mt-5">
            <div class="mt-3">
              <span class="text1">
                <a routerLink="/Dashboard/PPE">Show Data</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
